{% extends 'layouts/base_sections.html' %}
{% load static %}

{% block title %} Material Kit 2 by Creative Tim {% endblock title %}

{% block body %} class="index-page bg-gray-200" {% endblock body %}
{% block content %}
<section class="pt-3 pb-4" id="count-stats">
    <div class="container">
        <br><br><br>
    <h1>
        Worker: {{ worker.get_full_name }}
        <a href="{% url 'manager:worker-update' worker.id %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'manager:worker-delete' worker.id %}" class="btn btn-danger">Delete</a>
    </h1>

    <p><strong>({{ worker.position }})</strong></p>

    <h2>Completed Tasks</h2>
    <ul>
    {% if completed_tasks %}
        {% for task in completed_tasks %}
            <li><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></li>
        {% endfor %}
    {% else %}
        <li>No completed tasks.</li>
    {% endif %}
    </ul>

    <h2>Not Completed Tasks</h2>
    <ul>
    {% if not_completed_tasks %}
        {% for task in not_completed_tasks %}
            <li><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></li>
        {% endfor %}
    {% else %}
        <li>No not completed tasks.</li>
    {% endif %}
    </ul>
    </div>
</section>

{% endblock content %}
