{% extends "base.html" %}

{% block content %}
    <h1>
        Worker: {{ worker.get_full_name }}
        <a href="{% url 'manager:worker-update' worker.id %}" class="btn btn-secondary">Update</a>
        <a href="{% url 'manager:worker-delete' worker.id %}" class="btn btn-danger">Delete</a>
    </h1>

    <p><strong>({{ worker.position }})</strong></p>

    <h2>Completed Tasks</h2>
    <ul>
    {% if completed_tasks %}
        {% for task in completed_tasks %}
            <li><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></li>
        {% endfor %}
    {% else %}
        <li>No completed tasks.</li>
    {% endif %}
    </ul>

    <h2>Not Completed Tasks</h2>
    <ul>
    {% if not_completed_tasks %}
        {% for task in not_completed_tasks %}
            <li><a href="{{ task.get_absolute_url }}">{{ task.name }}</a></li>
        {% endfor %}
    {% else %}
        <li>No not completed tasks.</li>
    {% endif %}
    </ul>
{% endblock content %}
